<h1>To Do List</h1>
<ul>
@foreach(var item in Model)
{
  <li>@item.GetDescription() Due Date @item.GetDueDate() | <a href="/items/@item.GetId()/update">Edit</a></li>
  }
</ul>
<p><a href="/items/new">Add another item.</a></p>
<p><a href="/items/urgent">Order by most Urgent.</a></p>
<form action="/items/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
