<h1>To Do List</h1>
<h2> Create New Category</h2>
<form action="/category/create" method="post">
  <label for="new-category">Category Name:</label>
  <input id="new-category" name="new-category" type="text">
  <button type="submit">Submit</button>
</form>
