<h1>@Model["categoryName"].GetName()</h1>

<ul>
  @foreach(var item in @Model["categoryItems"])
  {
  <li>@item.GetDescription() Due Date @item.GetDueDate() | <a href="/items/@item.GetId()/update">Edit</a> | <a href="/items/@item.GetId()/delete">Delete</a></li>
  }
</ul>
<p><a href='/category/@Model["categoryName"].GetId()/items/new'>Add another item.</a></p>
<form action="/items/@Model["categoryName"].GetId()/delete_all" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
<form action="/category/@Model["categoryName"].GetId()/delete_category" method="post">
  <button type="submit" name="button">Delete This Category</button>
</form>
